<p style="color: green"><%= notice %></p>

<%= render @receiver %>

<div>
  <%= link_to "Edit this receiver", edit_receiver_path(@receiver) %> |
  <%= link_to "Back to receivers", receivers_path %>

  <%= button_to "Destroy this receiver", @receiver, method: :delete %>
</div>
